<div class="extras">
        <a href="{{rebounds_url}}">
            <span rel="tipsy" class="rebound-mark has-rebounds" original-title="{{title}}">
                {{rebounds_count}}
            </span>
        </a>
        <a href="{{html_url}}" style="display: inline;">
            <span rel="tipsy" class="rebound-mark is-rebound" 
                original-title="This shot is a rebound (reply) of another shot. View the original.">
                <img width="16" height="16" alt="Rebound" 
                    src="/app/images/icon-rebound-2x-24.png">
            </span>
        </a>
        <span rel="tipsy" class="attachments-mark" original-title="This shot has attachments">
            <img width="16" height="16" alt="Attachments" 
                src="/app/images/icon-attach-16-2x.png">
        </span>
</div>