<div id="header" role="baner" class="group" ng-controller="ShortsController">
      <div id="header-inner" class="group">
          <div id="logo">
            <a href="/">
                <img alt="dribble" src="app/images/logo-bw.gif"/>
            </a>
          </div>
      </div>

      <a id="toggle-nav" href="#" class="nav">
          <span class="ico ico-bars" aria-hidden="true" ng-click="openMenu()"></span>
      </a>

      <ul id="nav-menu">
          <li id="shots-li">
            <a class="has-sub">Shots</a>
            <ul class="tabs" ng-repeat="shot in shorts">
              <li href="/shots">Popular</li>
              <li class="separate"></li>
            </ul>
          </li>
      </ul>
  </div>